 <div class="row">
                <aside class="col-md-3">
                    <h2>Coming Soon</h2>
                    <p>
                        Stay tuned for future updates...
                    </p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                            Hi. My name is Aaron. I'm an aspiring student practicing the art of making websites. One day I hope to become a game developer.
                            <br> Thats all. Nothing to see below. (no easter eggs at the bottom)
                            <br>
                            <br>
                            <br>
                            <br><br>
                            <br>
                            <br>
                            <br><br>
                            <br>
                            <br>
                            <br><br>
                            <br>
                            <br>
                            <br><br>
                            <br>
                            <br>
                            <br><br>
                            <br>
                            <br>
                            <br><br>
                            <br>
                            <br>
                            <br><br>
                            <br>
                            <br>
                            <br> You still here? &lt;wink>
                            <br> Byeee!
                        </p>
                        
                    </article>
                </section>
            </div>